$primary: #3E3733;
$secondary: #FF8A00;

$white: #ffffff;
$light-white: rgba(255, 255, 255, 0.70);
$black: #141414;
$gray: #6F6A67;
$brown: #38322E;

$display: $primary;
$subtext: $light-white;

// .text-primary {
//   color: $primary !important;
// }
